footer {
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.songDetail {
  display: flex;
  align-items: center;
  gap: 10px;
}

.songOption {
  text-align: center;
  margin-bottom: 10px;
}

.songOption .icon {
  margin: 0px 5px;
  font-size: x-large;
}

.songProgress {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #b3b3b3;
  font-size: small;
}

.songMenu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.songMenu .icon {
  font-size: large;
}
