.songItemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  background-color: #181818;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  gap: 10px;
  cursor: pointer;
}

.songItemWrapper:hover {
  background-color: #282828;
}

.songItemWrapper h3,
.songItemWrapper p {
  width: 100%;
}
