.topItemWrapper {
  width: 32%;
  background-color: #181818;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.topItemWrapper h3 {
  flex-grow: 1;
}

.greenIcon {
  color: #1ed760;
  font-size: xxx-large;
}

.playIcon {
  display: none;
}

.topItemWrapper:hover {
  background-color: #282828;
}

.topItemWrapper:hover .playIcon {
  display: block;
}
